body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
    font-style: italic;
}

/* Estilos para o botão do menu hambúrguer */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 1rem;
    
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 3px 0;
}

/* Oculta o menu principal em telas menores e mostra o botão do menu hambúrguer */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    nav#menu ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav#menu li {
        text-align: center;
        padding: 10px 0;
    }
}

/* Estilos para quando o menu estiver ativo */
nav#menu ul.active {
    display: flex;
}


/* Estilos para o menu */
nav#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: column; /* Empilha os itens em dispositivos móveis */
    justify-content: center;
    background-color: #333;
}

nav#menu li {
    padding: 14px 16px;
}

nav#menu li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav#menu li a:hover {
    background-color: #111;
}

.container {
    display: flex;
    flex-direction: column; /* Empilha os elementos em dispositivos móveis */
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background: #fff;
}

#profile img {
    max-width: 80%; /* Ajusta a largura da imagem em dispositivos móveis */
    height: auto;
    border-radius: 50%;
}

/* ... mais estilos ... */

/* Media Queries */
@media screen and (min-width: 768px) {
    nav#menu ul {
        flex-direction: row; /* Alinha os itens horizontalmente em telas maiores */
    }

    .container {
        flex-direction: row; /* Alinha os elementos horizontalmente em telas maiores */
        justify-content: space-around;
    }

    #profile img {
        max-width: 50%;
    }
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #333;
}

footer i {
    font-size: 24px;
    margin-top: 0.5rem;
}

.linkedin-icon {
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.linkedin-icon i {
    color: white;
    font-size: 24px;
}

.fa-linkedin {
    background: transparent !important;
}
